# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/

# Environment
.env

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp

# Docker
*.log

# OS
.DS_Store
Thumbs.db
